<nav class="navbar">
  <div class="navbar-header">
    <h1 class="company-name">{{ 'TITLE' | translate }}</h1>
    
    <div class="toggle-container">
      <button class="navbar-toggler" (click)="toggleNavbar()">
        ☰
      </button>
    </div>
  </div>

  <ul class="nav-links" [ngClass]="{ 'show': navbarOpen }">
    <li><a routerLink="/employee-list" routerLinkActive="active">{{ 'EMPLOYEE_LIST' | translate }}</a></li>
    <li><a routerLink="/employee-medical-details" routerLinkActive="active">{{ 'EMPLOYEE_MEDICAL_DETAILS' | translate }}</a></li>
    <li><a routerLink="/employee-charts" routerLinkActive="active">{{ 'EMPLOYEE_CHARTS' | translate }}</a></li>
    <li><a routerLink="/settings" routerLinkActive="active">{{ 'SETTINGS' | translate }}</a></li>
  </ul>
</nav>



  <router-outlet></router-outlet>
 