<mat-card>
    <mat-card-title>Medical Policy Details</mat-card-title>
    
    <div class="summary">
        <p><strong>Total Dependents:</strong> {{ getTotalDependents() }}</p>
        <button mat-raised-button color="primary" (click)="openFormDialog()">Add Policy</button>
      </div>

    <mat-table [dataSource]="medicalPolicies" class="mat-elevation-z8">

     
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID of Dependents </th>
      <td mat-cell *matCellDef="let policy"> {{ policy.id }} </td>
    </ng-container>
      
      <ng-container matColumnDef="dependents">
        <th mat-header-cell *matHeaderCellDef> Number of Dependents </th>
        <td mat-cell *matCellDef="let policy"> {{ policy.dependents }} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="policyName">
        <th mat-header-cell *matHeaderCellDef> Policy Name </th>
        <td mat-cell *matCellDef="let policy"> {{ policy.policyName }} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="claimedAmount">
        <th mat-header-cell *matHeaderCellDef> Claimed Amount </th>
        <td mat-cell *matCellDef="let policy"> {{ policy.claimedAmount | currency:'USD' }} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="policyMaxAmount">
        <th mat-header-cell *matHeaderCellDef> Policy Max Amount </th>
        <td mat-cell *matCellDef="let policy"> ${{calculatePolicyMaxAmount(policy.salary) | number }} </td>
      </ng-container>
  
     
      <ng-container matColumnDef="balanceLeft">
        <th mat-header-cell *matHeaderCellDef> Balance Left </th>
        <td mat-cell *matCellDef="let policy"> {{ getBalanceLeft(policy) | currency:'USD' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let policy">
          <button mat-icon-button (click)="openFormDialog(policy)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'policyName', 'claimedAmount', 'policyMaxAmount', 'balanceLeft', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id','policyName', 'claimedAmount', 'policyMaxAmount', 'balanceLeft', 'actions'];"></tr>
  
    </mat-table>
  </mat-card>
  